*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    outline-color: red;
    border-width: thin;

}

body{
    background: #E4E4E4;
}
