*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    outline-color: red;
    border-width: thin;

}

body{
    background: #E4E4E4;
}

.containterbod{
    margin-top: 170px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    position: relative;
    align-self: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
