*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: #E4E4E4;
}

.hlogo {
    width: 100%;
    max-width: 200px;
    height: auto;
    /* 1292 727 */
  }

  .nav-right-icons {
    gap: 1rem;
  }

  .wrapper .links {
    list-style: none;
    gap: 4rem;
  }

  .wrapper {
    background: #fff;
    position: fixed;
    width: 100%;
    border-bottom: medium solid black;
  }

  .wrapper nav {
    position: relative;
    display: flex;
    /* max-width: calc(100% - 200px); */
    margin: 0 auto;
    height: 70px;
    justify-content: center;
    align-items: center;
  }

  nav .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .wrapper .links{
    padding: 0;
    margin: 0;
  }
  
  .nav-link{
    color: black !important;
    font-weight: 500 !important;
  }
  
  .nav-link:hover{
    color: #4ae291 !important;
  }